{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="row">    
    <div class="col-xl-3 mb-4">
      <div class="card">
        <div class="card-footer border-0 bg-body-tertiary p-2 d-flex justify-content-around"> 
            <a class="nav-link {{ app.current_route starts with 'recipe.' ? 'active' : '' }}" href="{{ url('recipe.all') }}">Recettes</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-4">
        <div class="card">
          <div class="card-footer border-0 bg-body-tertiary p-2 d-flex justify-content-around"> 
            <a class="nav-link {{ app.current_route starts with 'recipe.' ? 'active' : '' }}" href="#">Valorant ?</a>  
          </div>
        </div>
    </div>
    <div class="col-xl-3 mb-4">
        <div class="card">
          <div class="card-footer border-0 bg-body-tertiary p-2 d-flex justify-content-around"> 
            <a class="nav-link {{ app.current_route starts with 'recipe.' ? 'active' : '' }}" href="#">League of legends ?</a>  
          </div>
        </div>
    </div>
</div>

{% endblock %}
